# Build products:
/shamir39-combine
/shamir39-split

# Generated man pages:
/shamir39.1
/shamir39-combine.1
/shamir39-split.1

# Generated HTML documentation:
/shamir39.1.html

# test output directory
/testoutput
